@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand';
  background: url('../img/showcase.jpg') no-repeat center center/cover fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.back a {
  color: #fff;
  text-decoration: none;
}

.card {
  width: 45%;
  margin: 2rem auto;
  border-radius: .6rem;
}

.country {
  border-bottom: 1.5px dashed #341f97;
}

@media screen and (max-width: 540px) {
  .card {
    width: 55% !important;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 100% !important;
  }
}